<h3>Listing bands</h3>
<%= link_to 'New band', new_band_path %>
<br>
<div class="container">
<div class="row">
	<ul class="thumbnails">
		<% @bands.each do |band| %>
			<li class="span3">
				<div class="thumbnail">
					<%= link_to image_tag(band.photo.url(:medium)), band_path(band) %>
					<h3><%= link_to band.title, band_path(band) %></h3>
					<p><small><%= band.description %></small></p>
				</div>
			</li>
		<% end %>
	</ul>
</div>
</div>
